.default {
  font-size: 0.8em;
  margin: 0px 2px 2px 0px;
  padding: 0px 5px;
  color: #47a4fc;
  cursor: pointer;
  border: 1px solid #47a4fc;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.default:hover {
  color: #001aff;
  border: 1px solid #001aff;
  transition: all 0.3s ease;
}
