.default {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 16px;
}

.default:hover {
  background-color: #eeeeee56;
  border-bottom: 1px solid #c7c7c7;
}
