.default {
  margin: 0px 20px;
}

.menus {
  border-bottom: 1px solid #9c9c9c;
  margin-bottom: 15px;
}

.item {
  font-size: 1.0em;
  font-weight: 600;
  color: #dadada;
}

.item:hover,
.selected {
  color: #47a4fc;
}

.content {
  padding: 0px 5px;
}
