.profile {
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

.description {
  margin: auto 0px auto 5px;
}

.icons {
  font-size: 25px;
}

.icon {
  color: #8a8a8a;
  margin: 5px 10px 0px 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.rss:hover {
  color: #ff9900;
}

.facebook:hover {
  color: #4359ac;
}

.github:hover {
  color: #000000;
}
