.profile {
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

.description {
  margin: auto 0px;
}

.icons {
  font-size: 25px;
}

.icon-mail {
  margin: 5px 5px 0px 0px;
}

.icon {
  margin: 5px 10px 0px 0px;
  cursor: pointer;
}

* {
  font-family: 'Apple SD Gothic Neo', NanumGothic, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
